{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-lg-8 mx-auto">
    <h1 class="display-4 mb-4">Analizador de páginas</h1>

    <p class="lead">
      Analiza sitios web y almacena información de sus revisiones.
    </p>

    <form action="{{ url_for('create_url') }}" method="post">
      <div class="input-group">
        <input
          type="text"
          name="url"
          class="form-control form-control-lg"
          placeholder="https://example.com"
        />

        <button type="submit" class="btn btn-primary">Verificar</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
