{% extends 'base.html' %}

{% block content %}

<h1>URLs</h1>

<table
    class="table table-bordered"
    data-test="urls">

    <thead>

        <tr>

            <th>ID</th>
            <th>Nombre</th>
            <th>Última revisión</th>
            <th>Fecha creación</th>

        </tr>

    </thead>

    <tbody>

    {% for url in urls %}

        <tr>

            <td>{{ url[0] }}</td>

            <td>
                <a href="{{ url_for('show_url', id=url[0]) }}">
                    {{ url[1] }}
                </a>
            </td>

            <td>
                {{ url[2] or '' }}
            </td>

            <td>
                {{ url[3] }}
            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}